[2015-03-16 11:16] amiramix opened #12 "Metrics find and select are not retried when subscribbed to statically"
Subscribers declared statically (in the app.config) may want to subscribe to metrics that don't exist until the system is fully booted up. In case of metrics defined as lists (e.g. [atom, atom, atom]) such report are forced to be retried using the RetryFailedMetrics flag. But this flag doesn't apply to metrics defined as 'find' or 'select' (e.g. {find, [atom]}).

Such behaviour is not documented a

[2015-03-16 13:38] uwiger commented on #12
The way to create separate pull requests is to have different branches on your side, and then create one PR from each.

[2015-03-16 14:36] amiramix commented on #12
Done. I created a separate pull request for the non-functional changes. I can't create a separate pull request just for the second commit until the first one is integrated (in which case the existing one should start showing only the second commit in it's diff).

[2015-03-17 22:19] kellymclaughlin opened #14 "Should folsom and setup be included_applications?"
I'm hitting an issue where my release built with relx via rebar3 is crashing with the following output:

[code]

It turns out that `setup` and `folsom` are not being included in the release because they are not listed in the `applications` or `included_applications` lists in the `exometer_core.app.src` and I don't list them explicitly in my release configuration for relx. Adding them to the releas

[2015-03-18 07:47] tolbrino commented on #14
I believe `setup` should be included since it is mandatory during exometer's startup. `folsom` however might not be used if you don't `exometer_folsom` in your app. Thus, I think it should not be explicitely added to `exometer_core`'s dependencies.

[2015-03-18 07:48] uwiger commented on #14
There is no good place in the .app file for specifying optional dependencies, or - as in the case of setup - dependencies that don't require the app to be started.

Adding `setup` to the `applications` list would work, but then introduces a hard requirement for `setup` to be started in all systems that want to use exometer. While some features of setup require it to be started, exometer doesn't us

[2015-03-18 07:49] uwiger commented on #14
Personally, I'm ok with adding `setup` to the `applications` list in exometer.

[2015-03-18 14:52] kellymclaughlin commented on #14
Thanks for the feedback on this. I can submit a PR to add `setup` to the `applications` list today.

[2015-03-18 15:31] amiramix commented on #12
I didn't, I had to recreate the pull request.

[2015-03-18 16:45] kellymclaughlin commented on #14
https://github.com/Feuerlabs/exometer_core/pull/17

[2015-03-18 16:45] #14 closed

[2015-03-18 16:47] #12 closed

[2015-04-06 12:19] uwiger opened #20 "exometer_admin:default/1 prevents creation of custom types"
`exometer_admin:default(Type)` will cause a `function_clause` exception for any given type not already known to exometer_core. This seems unnecessary.

Fix: have a catch-all clause return `undefined`. If no module is given for the type, this will cause a follow-on error, which perhaps could be handled in a prettier way.

(Would create a PR directly, but am already messing with exometer_admin for o

[2015-04-14 10:26] avasenin opened #24 "trigger_interval works incorrectly for not manual intervals"
If you trigger_interval for timed interval (non manual) then new interval is started but old interval isn't canceled. So after trigger_interval you will get actually two intervals.

Now I should transform all intervals to 'manual' intervals before trigger_interval to avoid this.

[2015-04-14 14:36] uwiger commented on #24
The main idea was to use `trigger_interval()` on manual intervals, but if triggering timed intervals should be allowed at all, it had better work. ;-)

I'll take a look.

[2015-04-21 03:51] cmkarlsson commented on #14
This has a (according to me) annoying side-effect in that application:start(setup) creates unnecessary directores in my release folder.

data.$(NODE-NAME)
log.$(NODE-NAME)

are created. Is it possible to avoid creating these directories?

I understand the issue in that you only want to know about direct dependencies but in this case starting the setup application has unwanted side-effect.

Setup i

[2015-04-21 03:55] cmkarlsson opened #30 "How to include reporters from exometer?"
Since the split some of the reporters are still in exometer repository (exometer_report_graphite, exometer_report_snmp etc) I need to pull this as a dependency. The big problem I have here is that exometer repository is untagged (last tag is still full exometer) and it pulls the master repository from exometer_core.

Can we have exometer being tagged? and fix the dependency of exometer_core to a t

[2015-04-21 07:10] uwiger commented on #30
I have tagged the latest exometer_core as 1.2, fixed the latest exometer_collectd to this version and tagged it to 1.0. I've then fixed exometer 1.2 to those versions.

Thanks for pointing that out.

[2015-04-21 07:14] tolbrino commented on #30
@uwiger I think we need change logs for new releases. Maybe using something like https://github.com/skywinder/github-changelog-generator

[2015-04-21 09:37] tolbrino commented on #24
I'm closing this since PR #25 fixes this.

[2015-04-21 09:37] #24 closed

[2015-04-21 10:00] cmkarlsson commented on #30
Awsome! Thanks for the fast reply. From my point of view this can be closed.

Cheers!

[2015-04-21 10:00] #30 closed

[2015-04-21 10:02] uwiger commented on #30
@tolbrino Looking at the github_changelog_generator, but immediately ran into the github rate limit. :)

Will revisit it later.

[2015-05-13 17:58] marcsugiyama opened #33 "exometer_call callback return is not documented"
The exometer_report.md doc does not describe how to return a value to Module:exometer_call/3's caller.

[2015-06-29 10:28] alco opened #35 "exometer_report_statsd becomes a CPU and memory hog when system time jumps forward"
We have a few reporters configured with the interval of 1000 ms using `exometer_reporter_statsd`. Whenever the system time jumps forward, the `exometer_report_statsd` can't keep up with the amount of incoming `{exometer_report, ...}` messages and, given enough metrics, the memory used by the VM will keep growing indefinitely.

The issue originates from [this line](https://github.com/Feuerlabs/exom

[2015-06-29 13:39] uwiger commented on #35
I will take a look. The purpose of the `adjust_interval/2` function obviously isn't to reduce the interval to zero, but to compensate for drift due to scheduling delays etc. Adapting to clock changes probably requires also adjusting `T0`, which represents the calculated time when the report was *supposed* to be issued.

[2015-07-02 14:34] alco opened #36 "Not all processes are supervised"
We're currently seeing this picture in Observer

![screen shot 2015-07-02 at 16 29 22](https://cloud.githubusercontent.com/assets/207748/8479363/ab0dcd72-20d7-11e5-8dea-86c872c42fd4.png)

even though there are lots of exometer probes running.

I have a handful of `spawn` calls in the code:

[code]

Is there any reason those are not `spawn_link` calls?

[2015-07-08 08:06] surik opened #37 "Update setup to 1.5"
Because setup 1.4 has problems with rebar3

[2015-07-08 09:15] uwiger commented on #37
No problem with that. PR gladly accepted. ;-)

[2015-07-08 09:41] surik commented on #37
Thanks

[2015-07-08 09:41] #37 closed

[2015-07-08 09:46] surik opened #40 "RetryFailedMetrics default value"
`RetryFailedMetrics` in exometer_report is set to false by default, but in Readme I [see](https://github.com/Feuerlabs/exometer_core/blob/master/src/exometer_report.erl#L318) this parameter as true by default.

[2015-07-08 12:47] uwiger commented on #40
It should be true by default.

[2015-07-08 14:55] #40 closed

[2015-09-25 13:08] alco commented on #35
Hi. Any updates on this front?

[2015-09-25 15:30] uwiger commented on #35
No, apologies.

I noticed that I had an un-pushed branch where I had made some simple corrections to clock changes. I just pushed and created a PR (#44), but will say honestly that I haven't tested except verify that it doesn't break the (unmodified) test suite.

[2015-10-05 12:18] alco commented on #35
Hi @uwiger. I have tried your branch and it seems to crash the reporter soon after application start.

I've added a few printf inside `adjust_interval()` like this:

[code]

and here's the output I see when starting my app (the error report is using Elixir syntax):

[code]

[2015-10-28 12:42] IgorKarymov opened #45 "Disabled probe lead to imposibility to use some introspection functions."
[code]

[2015-10-28 18:52] uwiger commented on #45
There was a general problem with `exometer:info/[1,2]` and disabled entries.

I've modified it somewhat.

[2015-10-30 16:40] surik opened #47 "setup as optional application dependency"
What do you think about this?
Sometime I don't want to use setup but it is required and it creates some directories which i don't use (setup home directory)

[2015-10-30 16:56] uwiger commented on #47
exometer_core uses setup for environment variable inspection, but it would be entirely possible to give setup an option to avoid verifying the directories.

[2015-10-30 17:40] uwiger commented on #47
https://github.com/uwiger/setup/pull/20

[2015-12-03 02:08] scohen opened #49 "Update folsom"
The version of folsom that this project uses is unmaintained; consider switching to
https://github.com/folsom-project

[2015-12-03 09:22] tolbrino commented on #49
Thanks for the heads up. Do you have a pointer to an announcement. The boundary repository doesn't state anything in respect to that.

[2015-12-03 17:45] scohen commented on #49
I stumbled upon it in the boundary repo; all issues have the same comment.

https://github.com/boundary/folsom/issues/101

[2015-12-04 09:05] tolbrino commented on #49
You're right, I shouldn't have looked better. We'll just wait until the tags have been migrated.

[2015-12-04 10:44] tolbrino commented on #45
The merged PR fixes this issue.

[2015-12-04 10:44] #45 closed

[2015-12-04 10:46] tolbrino commented on #35
@alco Could you create a test case which reproduces that error?

[2015-12-04 10:48] tolbrino commented on #47
Closing this, since uwiger/setup#20 has been merged.

[2015-12-04 10:48] #47 closed

[2015-12-17 17:14] surik opened #51 "exometer_report:unsubscribe doesn't work"
Because [here](https://github.com/Feuerlabs/exometer_core/blob/master/src/exometer_report.erl#L1451]) key is used without `retry_failed_metrics`

[2015-12-17 18:33] uwiger commented on #51
Ack. The `retry_failed_metrics` value really shouldn't have been part of the key in the first place. Since it is, I guess the unsubscribe_() function will need to use ets:select() with wildcards rather than ets:lookup().

[2015-12-23 18:10] scohen opened #53 "Bump lager version on next release"
A bunch of @uwiger's projects are interdependent and rely on lager `2.0.3`, which is from early 2014.
We've been using lager `2.1.0` successfully in production with exometer for a year with no ill effects.

FWIW, Lager is presently at version `3.0.2`.

[2015-12-23 20:35] uwiger commented on #53
Personally, I've been using lager-3.0.1 without issues in another project.

[2015-12-23 20:56] scohen commented on #53
So can we bump lager in `rebar.config`? Presently it's

[code]

[2015-12-23 21:52] uwiger commented on #53
Is there any particular reason why you don't want to go to lager 3.0?

[2015-12-23 21:55] uwiger commented on #53
Changing it to 3.0.2 works as far as the test suite is concerned.

[2015-12-23 22:47] scohen commented on #53
Not at all --if you want to update it to 3.0, be my guest.

[2015-12-23 23:20] uwiger commented on #53
Yes, I'd rather do that. Past midnight here, so I'll do it tomorrow, or merge a PR, if someone would feel like making one before then. ;-)

[2015-12-28 09:57] tolbrino commented on #53
Merged. Although I'm late to the discussion, I've used lager 3.x recently as well and think the upgrade makes sense :-)

[2015-12-28 09:57] #53 closed

[2015-12-28 18:26] scohen commented on #53
Awesome, thanks you two.

[2015-12-29 00:29] okeuday commented on #49
I noticed the new folsom branch breaks on rebar2 due to a dependency forcing rebar3 usage.  Might be good to clear up that problem first.

[2015-12-29 00:32] okeuday commented on #49
I might be wrong about this and remembering some other project dependency, either way it would be good to make sure the rebar support is clear.

[2015-12-29 10:26] tolbrino commented on #49
@okeuday Could you elaborate on this, or even better provide a test case? I tried various combinations of rebar, exometer_core and folsom and couldn't find an issue.

[2015-12-29 10:36] tolbrino commented on #51
Or the option could be moved from the key to the subscriber record, in which case the lookup would remain reasonable.

[2015-12-29 18:56] okeuday commented on #49
@tolbrino Sorry, I don't see this as a current issue based on my own checking.  If this was an issue with exometer repos or folsom repos, it was fixed, but I probably confused this with a different repo that was related to metrics.

[2015-12-30 09:58] tolbrino commented on #49
@okeuday Got it. I'll keep that in mind in case we run into a similar issue.

[2016-01-07 13:36] eproxus opened #57 "Lager dependency unfriendly"
In my opinion, including Lager is outside the scope of Exometer. We're trying to include Exometer in an existing Elixir application which uses the Elixir logger. Getting Lager included just because of Exometer adds a lot of overhead and makes configuring logging much more complex (we either have to disable Lager or make it somehow send messages to the Elixir logging framework).

I see three possib

[2016-01-07 13:39] eproxus opened #58 "Exometer creates extra directories"
When running Exometer, two extra directories are created:

[code]

[2016-01-07 14:09] uwiger commented on #58
This would be easiest to avoid by instructing `setup` via the environment variable `{verify_directories, false}`.

https://github.com/uwiger/setup/blob/1.6/doc/setup.md#customizing-setup

For this to work, `exometer_core` would need to be updated to depend on `setup` 1.6 instead of 1.5, which should be done anyway, since 1.6 removes `io:fwrite` calls and fixes some env var expansion bugs too.

[2016-01-07 14:12] tolbrino commented on #58
@uwiger I was about to say, that we should create a new release for setup :+1:

[2016-01-07 14:17] tolbrino commented on #57
I ran into the same situation with an Elixir project. Obviously this is an issue for any Erlang/Elixir library.

Since exometer doesn't use much of lager anyway and historally has only done so since it was integrated in Riak early on, I'd be fine with generalizing logging. @uwiger what do you think?

[2016-01-07 14:32] eproxus commented on #58
Why does Exometer depend on `setup`?

[2016-01-07 14:52] uwiger commented on #57
@tolbrino I'm fine with it, but I'd also like to hear from Basho. After all, Exometer is their product and this is a fairly significant change.

[2016-01-07 14:52] uwiger commented on #58
@eproxus Exometer uses `setup` for environment variable expansion and for finding exometer configs specified in other application environments (the variables `exometer_defaults`, `exometer_predefined`, `exometer_folsom_monitor`, `exometer_reporters`, and `exometer_subscribers`.)

The variable expansion support in setup is documented here: https://github.com/uwiger/setup/blob/master/doc/setup.md#va

[2016-01-07 15:02] eproxus commented on #58
Ok, sounds reasonable. I'll verify once `setup` is updated to 1.6 and then close this issue.

[2016-01-07 15:04] tolbrino commented on #57
@uwiger Good point.

[2016-01-07 23:56] jonmeredith commented on #57
@eproxus Ulf pinged me and we had a quick conversation.  I thought your error_logger idea sounded best, until Ulf pointed out the lack of debug logging support in SASL....

I suppose there's a 4th option of trying to make it a compile time choice and switch between lager calls or the Elixir Logger.

I still haven't played with Elixir much - how are other libraries handling this?

[2016-01-08 09:18] tolbrino commented on #57
@jonmeredith Exometer is more involved than a normal library, an application really. Lots of Elixir libraries simply default to the Elixir logger. Since exometer already includes the `log.hrl` extending that to support switching the logging library would be easy.

Alternatively, exometer doesn't use lager debug a lot anyway. In my use cases I always found that I wanted to debug at the interfaces t

[2016-01-08 09:51] eproxus commented on #57
In my opinion, a library that is not application specific, should never force me into a certain logging paradigm.

If you really need the introspection into Exometer (that the `error_logger` cannot provide), I would then suggest the 3rd option, possible even together with a bundled Lager event callback module (where the dependency on Lager would be removed still). Then people who want to use Lager

[2016-01-08 11:28] uwiger commented on #57
In the [locks](https://github.com/uwiger/locks) application, instead of using a logger for debugging, I simply use an `?event()` macro ([example](https://github.com/uwiger/locks/blob/master/src/locks_leader.erl#L139)), which ends up calling an empty function. When I want to activate debugging, I use TTB to trace on the event functions (see [locks_ttb](https://github.com/uwiger/locks/blob/master/sr

[2016-01-08 11:42] uwiger commented on #57
One of the nice things about `lager:debug()` is that it won't process the input arguments unless logging is enabled at that level. This means that one can massage the debug output without incurring runtime overhead with debugging disabled.

It's not an issue in exometer in the sense that it doesn't currently massage debug output arguments. However, it *does* pretty-print, and using the `?event`-st

[2016-01-11 10:15] eproxus commented on #58
Ok, verified working on latest master. Thanks!

[2016-01-11 10:15] #58 closed

[2016-01-11 10:18] eproxus commented on #57
Well, if a couple of calls to an empty callback module is too much overhead (which would be the case for option 3), I would instead suggest a debug macro in Exometer that will compile in all the Lager logging code. That way, we can remove the dependency on Lager, and people who use this macro would have to make sure Lager is present when running and compiling.

[2016-01-11 11:00] eproxus opened #60 "exometer_report doc contains dead links"
The documentation page for `exometer_report` contain several dead links to https://github.com/Feuerlabs/exometer_core/blob/master/doc/exometer_report.md#Configuring_reporter_plugins

[2016-01-11 11:11] eproxus opened #61 "Dynamic subscribers MFA does not work"
The following configuration works:

[code]

Result:

[code]

The following does not:

[code]

Result:
[code]

Implementation of `stats.erl`:

[code]

[2016-01-11 11:35] uwiger commented on #57
To be clear, 'disabled' lager debug macros are not zero overhead either.

Specifically, the generated check for a `lager:debug()` is

[code]
where `lager_config:get/2` performs an `ets:lookup/2`.

[2016-01-11 13:08] eproxus commented on #57
Oh, then a callback module with a no-op function should be much faster? So win-win?

[2016-01-11 14:47] jonmeredith commented on #57
The problem with a callback module is you would lose the line number reporting that you get from the parse transform - all error reports would come from exometer_log:info:1234 rather than the original call site.

Converting all the lager code to compile time macros seems like the best option (and checking it doesn't have any similar problems - I'm fairly certain the preprocessor gets to run before

[2016-01-11 14:52] eproxus commented on #57
Good point with the line numbers.

The only problem I see is that when Lager is not a dependency of the project, you might have problems including the Lager header file when that compile time macro is enabled.

[2016-01-11 15:20] jonmeredith commented on #57
Hmmm, maybe make rebar.config.script add a preprocessor define around which
code files it can see?  Check for lager in the path and define LOG_LAGER,
check for the Elixir logger and define something else?

On Mon, Jan 11, 2016 at 7:52 AM Adam Lindberg <notifications@github.com>
wrote:

[2016-01-11 16:39] eproxus opened #62 "Function entry short form not working"
The `{function, Mod, Fun}` short form for function entries does not call `Mod:Fun(default)` as promised,  but instead assumes only one default data point `value`.

See https://github.com/Feuerlabs/exometer_core/blob/master/doc/exometer_function.md#new-3

[2016-01-15 10:08] tolbrino commented on #61
@eproxus The MFA should be a tuple instead of simple values in the list. Try

[code]

[2016-01-15 15:20] tolbrino commented on #49
Closing this issue, since we merged the change.

[2016-01-15 15:20] #49 closed

[2016-01-16 16:33] tolbrino commented on #57
Could you guys take a look at https://github.com/tolbrino/hut and let me know what you think? I tested it locally with exometer_core and it works fine.

[2016-01-18 09:30] eproxus commented on #61
Ok, that works. :smile:

Two things: in predefined entries, the format is `{apply, M, F, A}` which is confusing, and I think invalid subscription formats should be rejected (although in this case it matches the `{Reporter, Metric, DataPoint, Interval}` pattern, so I'm not sure what would be the best way).

Also, [the documentation](https://github.com/Feuerlabs/exometer_core/#configuring-static-sub

[2016-01-18 10:48] eproxus commented on #57
For me, Hut looks good. How would an optional dependency be specified in a project using it (e.g. Exometer and Lager)?

[2016-01-18 12:00] tolbrino commented on #57
Exometer would include Hut as its dependency. Your umbrella project would include Exometer and Lager as its dependency. Then, depending on your build tool, you'd ensure that Exometer gets compiled with the macro `HUT_LAGER`.

[2016-01-18 12:07] tolbrino commented on #61
It is confusing, I agree. I guess it would be best to change how apply works for predefined entries to be in sync with how it works for subscriptions.

[2016-01-18 12:57] eproxus commented on #57
Sounds reasonable to me. I think that no-op or SASL logging should be the default though. Having ton's of `io:format`'s everywhere would not be nice.

[2016-01-18 13:53] tolbrino commented on #57
I thought of switching to SASL for the default too.

[2016-01-22 20:44] jonmeredith commented on #57
Hey Tino - @mrallen1 took a look at hut and thinks that it will work fine integrating with Riak, so feel free to go ahead and convert if you would like.

I'd also vote for SASL as it's part of the standard runtime and should always be present - that seems like a much better compromise between nothing at all and a spew of io:formats.

[2016-01-23 08:41] tolbrino commented on #57
@jonmeredith Thanks for the feedback. I'll do the conversion then and adapt the default.

[2016-01-25 08:53] eproxus commented on #57
@tolbrino Looking forward to trying it out. :-) Thanks for putting in the effort.

[2016-02-18 23:35] mmmries opened #69 "Publish Hex Package"
Hi. I'm working on shopgun/turtle#8 trying to make it available as a hex package. `exometer_core` is a dependency of that project and so I would also like to make this project available as a hex package.

Is this something that the maintainers of this project are interested in?
You could publish it by adding a `mix.exs` file or by using the [rebar3 plugin](https://hex.pm/docs/rebar3_usage) for hex

[2016-02-19 00:06] mmmries commented on #69
Am I understanding your projects dependencies correctly?
* `parse_trans` has [a hex package](https://hex.pm/packages/parse_trans) that we can depend on
* `meck` is only a testing dependency, does it needed to be loaded at runtime? If it needs to be loaded we can use [the hex package](https://hex.pm/packages/meck)
* `folsom` has a [hex package](https://hex.pm/packages/folsom)
* `hut` does not have

[2016-02-19 11:41] tolbrino commented on #69
@mmmries This looks right to me. `setup` is needed at runtime, so I guess we need to create a package for that too. Feel free to post a PR in the `setup` project, and I will look at it. Once `hut` and `setup` are taken care of, `exometer_core` can follow.

[2016-02-25 14:26] tolbrino commented on #57
@eproxus The PR replacing lager has been merged. I feel like we can close this discussion.

[2016-02-25 14:28] tolbrino commented on #69
Update: `hut` has been published to hex.pm

[2016-02-26 09:22] surik commented on #57
I really don't understand how I can use `exometer_core` with `hut` in Elixir application.
For example I have an application which uses `exometer_core` from master:

[code]

How I can build it with using `Logger`?
I have seen on example in `hut` but it looks redundantly to create Makefiles instead using mix or rebar.

[2016-02-26 11:05] tolbrino commented on #57
What exactly is your intention? Obviously you can use `Elixir.Logger` in your app as you please. If you are talking about using it in `exometer_core`, that is not supported by hut as of now. Feel free to post a PR. However, `Elixir.Logger` already intercepts SASL logging, so even the standard config for hut should be ok. Btw, there is a type in `Feuerlabs` in your deps.

[2016-02-26 11:18] surik commented on #57
@tolbrino ok, I see that `Elixir.Logger` is not supported right now.

My question is not about Logger. My question is how I can change default logging system for `exometer_core` in my Elixir application?
Lets imagine I want to use `lager`. How I can say to mix to compile `exometer_core` with `-DHUT_LAGER` option? In your example I see you use Makefile. Is it preferable way?

[2016-02-26 12:50] tolbrino commented on #57
When using rebar you can set these preprocessor macros using the `erl_opts` property, see https://github.com/rebar/rebar/blob/master/rebar.config.sample

[2016-02-26 13:14] surik commented on #57
@tolbrino I'm not sure but looks `erl_opts` will be used only for current application and not for dependencies. That means `exometer_core` will use default logging system.

[2016-02-26 14:39] tolbrino commented on #57
Ok, now I get your point. I'll look into and dig up an example.

[2016-03-10 20:00] linearregression opened #70 "exometer predefined only works when predefined list is empty."
Try to define configs outside of sys.config. The defaults seems to pass but predefined does not except empty. Following is the sys.config; and error trace. A dump of the ets provided at the end.
lager_test is an empty erlang application. exometer_core and lager also added to application source.

In erlang shell:
Steps:
- ok = exometer_admin:register_application(lager_test)
  application:ensure_all

[2016-03-16 18:21] uwiger commented on #70
I tried the following:

* In `exometer_core/test`, there is a test app called `app1`. It has some files in priv/ for testing `exometer_defaults` and `exometer_predefined`
* I created a file, `app1/priv/exometer_predefined.script` to more closely match your example
* The following worked for me:

[code]

What I can imagine is happening is that exometer processes your `exometer_predefined.config` al

[2016-03-16 22:46] linearregression commented on #70
There is also a general improvement of helping end user to know what has gone wrong inside exometer_core. For example there are multiple places from exomerter_core that generates {error, unsupported} if user who needs to write their own reporter. But what causes those are like a wild hunt.

[2016-03-16 23:52] uwiger commented on #70
Agreed. PRs are welcome. ;-)

[2016-03-21 19:36] gmalkas commented on #69
Since it looks like `setup` is now available on hex, what's left to make this happen?

Should we change the dependencies in `rebar.config` to use hex packages instead of git repos?

Thanks

[2016-03-21 19:56] gmalkas commented on #69
I've stumbled upon https://github.com/basho/exometer_core/pull/9 which looks like what would be needed to publish `exometer_core` to Hex.

@tolbrino I can prepare a similar PR if needed. Makes sense?
Thanks

[2016-03-22 03:18] mmmries commented on #69
Are there two active forks of this library? It looks like `exometer_core` was already published to `hex.pm` by @licenser. If these two forks have diverged then we might need to use two separate names for the hex packages.

[2016-03-22 03:28] Licenser commented on #69
I published a bunch of libraries for building projects, the idea is to cut red tape of publishing them that said the intention was handing them over to the maintainers as soon as they feel comfortable with it so I gladly ask the hex.pm team to re-assing the package to you

[2016-03-22 19:32] gmalkas commented on #69
@Licenser nice, thanks!

@tolbrino is there anything preventing the next version of exometer_core to use hex packages in `rebar.config` and moving on with that?

Thanks.

[2016-04-27 21:36] bradleyd commented on #69
bump

[2016-04-27 22:24] mmmries commented on #69
Looks like the basho team already published their fork of the project to hex https://hex.pm/packages/exometer_core

[2016-04-28 00:59] Licenser commented on #69
As stated before I uploaded the exometer package to hex, not to keep it but to give it to just to maintain it utill the project is ready to take it over :).

[2016-04-28 01:22] mmmries commented on #69
Oh I forgot about that. Sorry for the confusion @Licenser. Thanks for getting things published so we can move other dependent projects forward ❤️

[2016-04-29 13:07] GalaxyGorilla opened #73 "'badarg' thrown in ETS update"
Hi!

I have a problem with counter updates which very seldom appears. An error is thrown with the following 'reason':

[code]

Unfortunately I am not able to reproduce this, it seems to be a very tricky race condition. However, I was curious how this could even happen within exometer. The error happens (HERE).[https://github.com/Feuerlabs/exometer_core/blob/5fdd9426713a3c26cae32f644a3120711b1cdb64

[2016-04-29 13:58] uwiger commented on #73
It's baffling. The update_counter/3 call could fail if (a) the attribute value isn't an integer, or (b) the record is suddenly deleted (after having existed for the lookup). I don't really see how (a) could happen, at least through the exometer_core API, and (b) is of course possible in theory.

[2016-04-29 14:42] GalaxyGorilla commented on #73
@uwiger: I can now frequently generate this error within a larger test suite. I will come back with a better error description when I find the time.

[2016-05-04 17:55] surik opened #75 "Delete entry callback for reporter"
The reporter has `exometer_newentry/2` callback but doesn't have `exometer_deleteentry/2`. It would be useful to have a callback about deleting an entry. What do you think?

[2016-05-05 09:42] uwiger commented on #75
Seems reasonable, although I don't know off-hand if any of the usual reporting backends could make use of it. Can you offer a concrete use case?

[2016-05-05 11:38] surik commented on #75
It can be used for unsubscribe metrics and release reporter resources.

[2016-06-02 16:19] tony612 opened #77 "Is there anyway to receive multiple datapoints in a exometer_report call?"
I'm writing a report plugin, but I need to send a whole probe(exometer_histogram) like `[{n, 9}, {min, 258}, {max, 109587} ...]`, but I found my function `exometer_report` will get the datapoints one by one. Is there anyway to implement this(like getting all points of a metric once)?

[2016-06-05 22:03] uwiger commented on #77
As far as I could tell, it wasn't possible, but see the referenced PR.
If you add `{report_bulk, true}` when adding the reporter, then export a callback `exometer_report_bulk/3`, it will be called with `(Found, Extra, State)`, where `Found :: [{Metric, [{DataPoint, Value}]}]`

[2016-06-07 17:28] tony612 opened #79 "Support for sum of squares?"
Sometimes sum of squares can be useful, can we support that or is there any way to get that? I found [statman](https://github.com/knutin/statman/blob/e6ff10815eac1e613b619e69db06d635f1a4a488/src/statman_histogram.erl#L97) supports that.

[2016-06-27 12:26] TBK145 opened #80 "Erlang 19 compilation error"
On Erlang 19 I get this compilation error:
[code]
I can't seem to find out what causes it or how to fix it.

[2016-06-27 12:30] uwiger commented on #80
It's likely due to the introduction of some new abstract forms in OTP 19.0.

See e.g. https://github.com/uwiger/parse_trans/issues/19

I fixed this in the latest version of `parse_trans`, but lager has its own transform.

[2016-06-27 12:46] TBK145 commented on #80
So this is actually a lager bug?

[2016-06-27 13:42] uwiger commented on #80
Fixed in lager 3.2.1, as far as I can tell.

[2016-06-28 08:00] TBK145 commented on #80
It turned out I was using a dependency which was using an old version of exometer, this error does not exist in master. I'm sorry for the confusion.

[2016-06-28 08:00] #80 closed

[2016-06-28 14:11] benoitc commented on #69
bump. can a new release been done (not containing lager) and published to hex????

[2016-06-28 18:20] okeuday commented on #69
Also, it would help if `setup` was in a useable state where it doesn't call remote nodes and do odd things, in the version used for the hex package.

[2016-06-28 19:32] uwiger commented on #69
The version of setup now in hex (1.8.0) doesn't call remote nodes, and can be told not to verify directories (by setting `{verify_directories, false}`). The default is `true` for the sake of backward compatibility.

[2016-07-13 10:07] surik commented on #57
Hi @tolbrino, any results?

[2016-07-13 15:42] tahteche opened #81 "exometer_report report doc has contradicting arities"
In the [exometer_report doc](https://github.com/Feuerlabs/exometer_core/blob/master/doc/exometer_report.md) there is  exometer_report/5, exometer_report/4, and exometer_report/3 but the actual callback is exometer_report/5.

If am not missing something then this is an issue.

[2016-08-06 13:16] mootpointer commented on #57
Wouldn't a seperate `hut_lager` package which integrates hut with lager make more sense than using preprocessor macros?

[2016-08-06 13:42] surik commented on #57
@mootpointer how separated `hut_lager` can help me build `exometer_core` with `lager`?

Maybe better to use `sasl` directly without additional dependency which is difficult to use?

[2016-08-14 13:53] chemeris commented on #77
Is it possible to merge this to master? We're looking for the same functionality for use with influxdb reporter.

[2016-08-14 15:28] uwiger commented on #77
I guess sufficient time has passed for comments, so ... yes, merged.

[2016-08-14 16:16] chemeris commented on #77
Thank you!

[2016-08-14 16:17] #77 closed

[2016-08-14 16:29] tony612 commented on #77
👍

[2016-08-14 18:31] chemeris opened #82 "exometer_report_lager is missing"
Commit 83df877ba5df6541f2abdc122509e8e19020bb3a promises that removal of `exometer_report_lager` will be followed by a move of it to a separate repository. But I can't find any repo with it, so I assume it got lost. Would be really great to have it back as a separate repository.

[2016-08-14 20:11] chemeris commented on #82
FWIW - https://github.com/fairwaves/exometer_lager

[2016-08-14 20:35] chemeris commented on #69
Any updates on the plan for a new release and an updated hex package?

[2016-08-14 22:09] chemeris commented on #77
@uwiger I've just noticed that while batching works for predefined metrics (like a common `[erlang, memory]`), it doesn't work for runtime registered ones. E.g. I have a `spiral` and it's data points (`one` and `total`) are reported through `exometer_report_bulk/3`, but they are reported separately.

For the full picture - I'm using Elixometer to generate metrics. But I guess this shouldn't affect

[2016-08-15 06:59] uwiger commented on #77
I guess it has to do with the intervals triggering at different points in time.

You might consider using named intervals. See the `intervals` option for configuring reporters.

[2016-08-15 11:40] chemeris commented on #77
@uwiger I've switched to named intervals, but it didn't help.

Here you can see a predefined function metric which is processed as a single item and a spiral metric which is split into data points.
[code]

Btw, named intervals are not mentioned anywhere in the main README, so I didn't even know they exist.

[2016-08-16 17:05] chemeris commented on #77
@uwiger It seems this is related only to Elixometer. When reporting directly to Exometer, bulk reporting works as expected.
Sorry for a wrong alarm.

[2016-08-21 17:07] dantangfan opened #83 "compile error"
I've got this compile error when i use elixir 1.3 and erlang 19.

But when i use elixir 1.3 with erlang 18, everything is OK.

[code]

[2016-08-21 17:36] #83 closed

[2016-08-21 19:57] chemeris commented on #35
Any updates on this?
I see the same issue with https://github.com/fairwaves/exometer_influxdb
If I send my laptop to sleep while an app is running, Exometer starts generating tons of reports to catch up when I wake up my laptop.

[2016-08-21 20:12] chemeris commented on #35
And I can also confirm, that the change from @uwiger crashes with this error (merged onto the latest master):

[code]

[2016-09-19 19:35] AndrewDryga commented on #69
+1

[2016-09-27 12:51] surik opened #85 "`exometer_report` gen_server doesn't restart reporters after restarting by supervisor."
`exometer_report` may be terminated by some reason and it also terminates all reporters.
Should they be restarted together with `exometer_report` gen_server?

[2016-09-27 13:23] surik commented on #85
For example, `exometer_report` gen_server may be crashed [here](https://github.com/Feuerlabs/exometer_core/blob/master/src/exometer_function.erl#L232) during reporting `function` metric if my function callback does something like `throw(timeout)`

[2016-09-27 16:39] uwiger commented on #85
PR #74 refers to this problem.

[2016-09-27 17:03] surik commented on #85
@uwiger good! What do you think about that https://github.com/Feuerlabs/exometer_core/blob/master/src/exometer_function.erl#L232 only catches error class exceptions? It may be reason of reaching max restarts.

[2016-09-27 18:52] uwiger commented on #85
Well ... I guess it wouldn't hurt to also catch other categories, even though the likelihood of get_value() raising other exceptions should be very low. :)

[2016-09-28 19:22] beano commented on #85
I've seen this too. Maybe issue https://github.com/Feuerlabs/exometer_core/issues/36 is also related?

[2016-10-17 14:32] ianwalter commented on #83
@dantangfan What was the issue here and was there a solution?

[2016-10-17 16:20] dantangfan commented on #83
@ianwalter I'm not sure what's wrong. But after reinstall erlang 19, everything works fine.

[2016-10-17 16:21] ianwalter commented on #83
Ok, for any future viewers, I seemed to fix it by upgrading Lager to the latest version.

[2016-11-12 07:42] benoitc commented on #69
yeah would be great to have an "official" source package on hex.pm

[2017-02-01 11:51] eriksoe opened #90 "exometer_report:handle_call({subscribe,...}) may trigger badarg in sending"
The symptom:

    =ERROR REPORT====
    ** Generic server exometer_report terminating
    ** Last message in was {subscribe,{key,exometer_report_lager,{find,[fuse,offline_detector_buddy_fuse]},[one],true,[]},30000}
    ** When Server state == {st,[],[]}
    ** Reason for termination ==
    ** {badarg,[{exometer_report,handle_call,3,[{file,"src/exometer_report.erl"},{line,795}]},{gen_server,try_han

[2017-02-03 10:07] tolbrino commented on #82
Good catch. I guess it would be nice to have a wiki page to list the known reporters. @uwiger Do you agree?

[2017-02-03 10:07] #82 closed

[2017-04-30 08:30] lpil commented on #69
Hello everyone! Would be great to have this lib on hex.pm :)

[2017-06-09 20:52] grosscr opened #95 "exometer_core crashing"
We recently upgraded to elixir 1.4, and now our metrics no longer function. It appears that the supervisor keeps crashing:

[code]

We have tried using exometer and exometer_statix for the reporters to StatsD but nothing is working. Any chance we could get some more information around why this could be happening?

exometer_core commit: 09c2a9361c0295c977e441ef89382db964a64460

[2017-08-21 15:25] GalaxyGorilla commented on #95
From a first glance I would guess that the module is not found. Have you tried to execute

[code]

to check if the module is loaded at all? Also `hostname` does not seem to be a valid argument, but there should be a fallback in the reporter lib for that.

[2017-08-22 13:32] grosscr commented on #95
We ended up just ripping out exometer all together and replacing it with something else.

[2017-09-06 13:02] uwiger commented on #90
Closing this issue. Pls create a new issue if there is anything.

[2017-09-06 13:02] #90 closed

[2017-09-06 13:03] uwiger commented on #82
FWIW, I agree (belatedly).

[2017-10-20 18:45] iguberman opened #99 "exometer_proc timeout"
This started happening when we started testing the system under high load.   Never seen this problem until then, and it happens a few minutes into our high-load test.   The problem is, exometer never recovers after that and we don't get any stats anymore.    I tried significantly increasing this timeout in our fork of `exometer_core`, but that didn't help.

[code]

[2017-10-21 15:37] uwiger commented on #99
Hi Irina!

Odd that it's the `exometer_report` process that crashes in an `exometer_proc:call/2` call – it should never make such a call in the first place. The second problem is of course that it doesn't restore operation after restarting.

Can you reproduce the problem?

[2017-10-21 15:58] uwiger commented on #99
Hmm, I take that back (well, not the "should never" ...). In [`do_report/2`](https://github.com/Feuerlabs/exometer_core/blob/master/src/exometer_report.erl#L1213) [`handle_info(report_batch, ...)`], which is called from the `handle_info()` clauses for `report` and `report_batch`, `exometer_report` calls `exometer:get_value/2`, which _may_ end up doing an `exometer_proc()` call to a probe, which wo

[2017-10-21 23:45] iguberman commented on #99
Thank so much Ulf!

That gives me something to look into on my end as well.   Unfortunately I could reproduce it every time I run high load test in our server and pretty soon, right around the time when I need to start examining the stats, `exometer_proc` crashes and the stats disappear.

What I did however as a temp workaround I removed timeout completely from `exometer_proc` to receive without a

[2017-10-30 23:59] iguberman commented on #99
Hi Ulf,

Apparently I had this message below sitting in this browser window unsent
for 9 days and just noticed it (they were crazy 9 days, but still....)
 Very sorry for not replying sooner!!! :(

***

Thank so much Ulf!

That gives me something to look into on my end as well.   Unfortunately I
could reproduce it every time I run high load test in our server and pretty
soon, right around the time

[2017-11-22 14:36] surik opened #100 "Question about default `min_heap_size` in `exometer_probe`"
Each `exometer_probe` has set the default [min_heap_size](https://github.com/Feuerlabs/exometer_core/blob/master/src/exometer_probe.erl#L644) to 40000. If I understand it correctly it might be the reason for big memory consumption. According to [Erlang documentation](http://erlang.org/doc/efficiency_guide/processes.html):
[code]
I can observe interesting behavior in my test system where I have aro

[2017-12-14 10:36] surik commented on #100
See #102

[2018-01-03 15:22] jacktang opened #104 "How to use exometer to monitor stock tick stream?"
Hello,

I am going to use exometer to monitor stock tick stream, InfluxDB acts as the backend database. And the table schema is designed as below:
[code]
And I create each metric for every stock
[code]
My question is how can I write `exometer_report:subscribe/6` method to send data back to influxdb described above?

[2018-01-03 16:00] uwiger commented on #104
The way exometer works, you typically define a reporter which subscribes to metrics and at regular (configurable) intervals pushes data to some data store, log or analytics backend.

What this gives you is a set of periodic snapshots, which is often just what you want.

Is your question how you can ensure that _all_ ticks are reported to the database?

[2018-01-04 05:32] jacktang commented on #104
@uwiger, yes. I want to collect all ticks count snapshot and report to database.

I have tried to wrap the snapshot like below (stock_count.erl)
[code]

The return value of `snapshot_count` is array of proplists and it failed to report to backend. Any suggestions?

[2018-01-04 09:07] uwiger commented on #104
Ok, just to check: your `snapshot_count()` function searches for metrics with the pattern `[tick, '_', '_', '_']`, but you previously said that your updates look like `exometer:update_or_create([tick, StockName], 1, counter, []).`

Also, your `foldl()` function doesn't actually produce a proplist of the form `[{stock_name, V1},{exchange,V2},{acc_count,V3}]`

Was this just a typo? What happens when

[2018-01-04 13:58] jacktang commented on #104
@uwiger, thanks for point out the errors. I've update the code in the original post.
Creating new reporter is enlightening for me and I will to try to handle the data points in the reporter.

As mentioned before, I wanted to collect data from **_all_** stock metrics and send the data to **_one_** table in backend. And in above demonstration, it creates tables like  `tick_appl_x` and `tick_amzn_y`

[2018-01-04 14:09] uwiger commented on #104
Well, my example simply wrote the metric and values to an ets table, using an increasing timestamp to separate consecutive updates. But the `tick_reporter` used the same callback (`exometer_report_bulk`) as the `exometer_report_influxdb` code you mentioned; the illustration was meant to show how you can set up a subscription on _all_ tick counters and receive them periodically as a list of values

[2018-01-04 17:28] lucafavatella opened #105 "Exometer cached value potentially not deleted when expired"
When a process calls [`exometer_cache:write/{3,4}`, it](https://github.com/Feuerlabs/exometer_core/blob/588da231c885390a9b3c08a367949750f32d143c/src/exometer_cache.erl#L58-L60):
* Asynchronously (cast) instructs the `exometer_cache` process to start a timer for the (metric-datapoint keyed) cache deletion, and to update (`ets:update_element`) the relevant field in the ETS entry with the timer ref;

[2018-01-04 17:38] lucafavatella commented on #105
Actually I see that the piece of code that I understand it is supposed to call `exometer_cache:write` on a metric-datapoint meant to be cached is [conditionally called based on the metric-datapoint having a cached value](https://github.com/Feuerlabs/exometer_core/blob/588da231c885390a9b3c08a367949750f32d143c/src/exometer.erl#L384-L400), so this seems an issue.

[2018-02-15 15:38] gpad opened #107 "Double send measurements"
See PR https://github.com/Feuerlabs/exometer_core/pull/106

I found that the measurements are sent 2 times with the same timestamp. To find this bug I configured some predefined measurements, I sent it via statsd subscriber and I set the level of logger to debug. In this way I found that the measurements are sent 2 times on the same seconds (I set the interval to 5 seconds):

[code]
[code]
[code]

[2018-02-18 16:45] sammy007 commented on #107
Same here:

[code]

[code]

[2018-02-18 17:14] uwiger commented on #107
Have you checked again with the latest version?

[2018-02-18 17:17] sammy007 commented on #107
I see, fixed in master. Thank you.

[2018-02-18 20:13] sammy007 opened #109 "Ugly log output"
[code]

Looks like issue related to hut. For some reason config terms logged as string.

[2018-02-19 17:43] sammy007 opened #110 "Aggregation only works for integer values"
I have implemented my own probe which is inherited from spiral and divides value by `time_span` hence returned value is float, I configured an aggregation and see no values computed.
After some research I found that there is a check for `is_integer` in `aggr_acc([{D,V}|T], Acc)` function. After I changed it to `is_number` it works. Do you think it worth fixing?https://github.com/Feuerlabs/exometer

[2018-02-27 21:44] ruttenberg commented on #99
I have observed this problem intermittently. This is an example:

2018 Feb 27 18:02:08 52.23.248.173 erlang:   error | gen_server exometer_report terminated with reason: timeout in exometer_proc:call/2 line 131
2018 Feb 27 18:02:13 52.23.248.173 erlang:   error | CRASH REPORT Process exometer_report with 0 neighbours exited with reason: timeout in exometer_proc:call/2 line 131 in gen_server:termin

[2018-02-28 08:55] uwiger commented on #99
@ruttenberg, that drop you observer, is it from stats reported by exometer or the actual numbers presented by the VM?

[2018-02-28 11:56] ruttenberg commented on #99
That is from stats reported by exometer.

[2018-02-28 12:18] uwiger commented on #99
Ok. I have the flu right now. I don't think I'll be able to do much about this today, but will gladly accept a PR that at least catches calls to `exometer:get_value/2`. One could also argue that get_value() shouldn't crash in the first place. This would also be an acceptable solution.

As to the problem of reporting drift if a particular metric keeps timing out, that's perhaps best noticed in the

[2018-02-28 13:39] ruttenberg commented on #99
@uwiger
I hope you feel better soon.
I think you overestimate my understanding of the exometer implementation. I don't really understand what you are suggesting for the PR.

Thanks.

--Jon Ruttenberg

[2018-02-28 14:07] uwiger commented on #99
@ruttenberg, for example:

https://github.com/Feuerlabs/exometer_core/blob/master/src/exometer_report.erl#L1438

The `exometer_report` process expects `exometer:get_value/2` not to fail. Reading the docs, this seems like an appropriate assumption, but `exometer_report` could still wrap these in a `try ... catch` here.

More appropriate places to put `try ... catch` might be (fixing the `get_value/

[2018-02-28 17:57] ruttenberg commented on #99
@uwiger
Thanks. I will take a look at those.

Some additional information:
I have not implemented any probes. The only probe is the built-in *histogram*.

[2018-04-09 16:36] tolbrino commented on #110
I think that should be an option. Feel free to submit the PR.

[2018-04-09 16:37] #107 closed

[2018-05-22 15:54] surik opened #112 "New version for hex.pm?"
Version 1.5.2 was released 12.09.17. I see that master has some changes like using `parse_transform` 3.2.0.

I would really happy to have new version of `exometer_core`. Then I would be able to release [travelping/exometer_influxdb](https://github.com/travelping/exometer_influxdb) 0.5.9 which wants to use hackney 1.12.1 (which depends on parse_transform 3.2.0).  Currently I'm having problem with p

[2018-05-30 22:07] nkmanolovsumup opened #113 "Lock file needs to be updated"
On master, although, several dependencies have been updated the rebar.lock file has not been.

[code]

[2018-06-07 18:20] surik commented on #112
I think I need to ping @fishcakez and @tsloughter as they are in the list of the owners for https://hex.pm/packages/exometer_core ;)

[2018-07-11 00:04] mpope9 commented on #100
Is there any chance this will be merged?

[2018-09-13 11:48] Amuhar opened #115 "Use custom function to define entry"
Hello,

Is it possible to use custom function to define entry ?

I wrote
[code]

Configuration file:

[code]

I send metrics values to influxdb.

And I got an error :

[code]

[2018-10-24 17:01] netDalek commented on #112
Anybody here. @fishcakez, @tsloughter. Please help

[2018-10-24 17:13] tsloughter commented on #112
Hm, didn't know that :). I suppose I can publish a release then.

But since I don't use exometer it would be nice to find someone who does and wants to take on this responsibility.

@Licenser ok with you if we add someone to the hex maintainers?

[2018-10-24 18:11] tsloughter commented on #112
Oi, so someone who wants this on hex should send a PR to replace the git dependencies with hex dependencies.

[2018-10-24 18:38] tolbrino commented on #112
@surik I will create a new maintenance release after #116 has been merged.

@tsloughter You can add me to the list of maintainers.

[2018-10-25 06:33] #113 closed

[2018-10-25 06:39] tolbrino commented on #112
I created the release `1.5.3`, since there was an inconsistency between the actual tags in the repo and the versions on hex.

[2018-10-25 13:41] tsloughter commented on #112
@tolbrino thanks, I've added you.

[2018-10-25 15:56] tolbrino commented on #112
@surik @tsloughter I've published version [1.5.4](https://hex.pm/packages/exometer_core/1.5.4). Let me know if there are any issues.

[2018-10-25 15:56] #112 closed

[2018-10-25 15:57] tolbrino commented on #69
Closing this since the package on hex is up-to-date.

[2018-10-25 15:57] #69 closed

[2018-10-29 14:14] tolbrino commented on #100
#102 has been merged.

[2018-10-29 14:14] #100 closed

[2018-11-23 10:30] netDalek opened #120 "exometer:re_register causes process leak"
Is it ok, that the amount of processes grows up each time I use re_register?

[code]
I thought that re_register should delete old metric after after creating new one. This causes process and memory leak on our system.

I use latest exometer_core 1.5.7 with erlang20, but it seems that this behaviour is common for all versions.

[2019-10-21 12:26] saneery commented on #120
@uwiger
Looks like 5th parameter in the tuple should be `false`: https://github.com/Feuerlabs/exometer_core/blob/master/src/exometer_admin.erl#L189

Because of this, a new entry is created on every call of re_register:
https://github.com/Feuerlabs/exometer_core/blob/master/src/exometer_admin.erl#L273-L289

[2019-10-21 13:06] uwiger commented on #120
No, that parameter is as it should be, but the implementation in `handle_call(...)` needs reviewing.
`AllowExisting = false` simply means that it shouldn't be interpreted as an error if the metric already exists. It does _not_ mean "simply go ahead and create a new one regardless", so there still seems to be a bug in there.

[2019-10-22 12:27] #120 closed

[2019-10-22 14:16] saneery commented on #120
@uwiger Thanks for your job :pray:
When will a new release?

[2019-10-23 06:16] netDalek commented on #120
@uwiger Thank you very much. It works

[2019-10-23 09:18] saneery opened #128 "New version in hex.pm"
@tolbrino It would be great if there will a new version in hex.pm with fresh updates

[2019-12-19 14:54] Maxibond commented on #128
Second this.

[2020-07-20 14:00] tolbrino commented on #79
Could be added, feel free to provide a PR.

[2020-07-20 14:00] #79 closed

[2020-07-20 14:01] tolbrino commented on #60
Seems to be fixed after the doc was updated several times. Thanks.

[2020-07-20 14:01] #60 closed

[2021-01-13 10:06] mmzeeman opened #133 "Problem with spec of function match datapoints"
There is a problem with the match spec when registering a datapoint like this:

[code]

Dialyzer Error

[code]

Dialyzer flags this as a type error because the datapoints() in `match` expressions is defined as a list. But for `match` expressions it is defined in the documentation that this should be a match expression. See: https://github.com/Feuerlabs/exometer_core/blob/master/doc/exometer_functi

[2021-05-13 17:16] NelsonVides commented on #128
@uwiger @tolbrino now that otp24 was published, will we see the hex package soon? :)

[2021-09-15 14:29] anhoxa opened #138 "The -spec for exometer:info/1 is wrong."
Dialyzer complains about `exometer:info/1`

[code]
For this use:
[code]
Looking at `exometer:info/1` the -spec appears to omit `undefined` (lines 721, 722) from the possible returns.
[code]

[2021-09-15 14:32] anhoxa commented on #138
I see this is fixed in head rev. but not yet officially released.

[2021-09-15 14:32] #138 closed

[2022-03-24 06:39] #128 closed